.cabecalho {
    background-color: var(--azul-escuro);
    padding: 1em 5px;
    display: flex;
    align-items: center;
}

.titulo__header {
    color: var(--cor-de-fundo);
    text-transform: uppercase;
    margin: auto;
    font-weight: 700;
    font-size: 24px;
}

.titulo__amarelo__header {
    color: var(--azul-claro);
}

.menu-hamburguer {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    margin-left: 0.5em;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

#menu {
    display: none;
    background-color: var(--azul-escuro);
    position: absolute;
    width: 100%;
}

#menu ul li {
    padding: 10px;
    text-align: center;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}
.link{
    font-weight: 400;
    font-size: 16px;
}
#menu ul li a:hover {
    background-color: #575757;
}
.menu__itens__vertical{
    display: none;
}
@media screen and (min-width: 1024px) {

    .menu-hamburguer{
        display: none;
    }
    .cabecalho{
        align-items: center;
    }
    .titulo__header {
        color: var(--cor-de-fundo);
        text-transform: uppercase;
        margin-left: 1em;
        font-weight: 700;
        font-size: 24px;
    }
    .menu__itens__vertical{
        display: flex;
        margin: auto;
    }
    
    .link_vertical{
        color: var(--cor-de-fundo);
        text-decoration: none;
        padding: 10px;
        
        
    }

}