@import url("header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/topicos.css");
@import url("./styles/contato.css");
@import url("./styles/rodape.css");


:root{
    --cor-de-fundo:#EBECEE;
    --amarelo: #ffcb03;
    --azul-medio: #074ea2;
    --azul-claro:  #00b9f2;
    --azul-escuro:#032d5e ;

    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;

    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin Sans";
    
}
body{
    background-color: var(--cor-de-fundo);
    
}
