@import url("header.css");
@import url("card_apresentacao.css");
@import url("./styles/carrossel.css");
@import url("topicos.css");
@import url("./styles/contato.css");
@import url("footer.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');
:root{
    --cor-de-fundo:#EBECEE;
    --amarelo: #ffcb03;
    --azul-medio: #074ea2;
    --azul-claro:  #00b9f2;
    --azul-escuro:#032d5e ;

    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;

    --fonte-principal: "Roboto", sans-serif;
    --fonte-secundario: "Josefin Sans";
    
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}
